@b header-layout {
  width: 100%;
  padding: 20px 10px;
  font-size: 20px;
  background-color: #f7f7f7;
  @e link {
    display: inline-block;
    color: black;
    margin-right: 20px;
    &.__active {
      color: blue;
    }
  }
}
